# Python cache
__pycache__/
*.pyc
*.pyo

# Virtual env
venv/

# Model artifacts
*.h5

# Logs
*.log

# Jupyter
.ipynb_checkpoints/

# Gradle build files
build/
*/build/

# Android specific
.gradle/
local.properties

# IDE files
.idea/
*.iml

# Misc
*.log

# Large Binaries
*.apk